h1{
text-decoration: red underline;
text-align: center;
font-family:Georgia, serif ;
}
h3{
text-align: center;
color : #000000 ;
 }
p{
color:#964B00;
text-align: center;
line-height: 30px;
}
button{
    color: blueviolet;
    background-color: white;
}

a{
    text-decoration: none;
    color: green;
}
textarea{
    color: black;
}
span{
    text-decoration: underline;
}