h1{
    background-color: yellow;
    border: 2px solid black;
}

@media(width:400px){
    h1{
        background-color: red;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: lightblue;
    }
}

@media(min-width: 405px) and (max-width: 600px){
    h1{
        background-color: red;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: lightblue;
    }
}

@media(orientation:landscape){
    h1{
        background-color: blue;
        color: brown;
    }
}
