div{
    height:200px;
    width:500px;
    background-color: lightblue;
    /* border-color: black;
    border-width: 5px;
    border-style: solid; */

/* For Shorthand (width style color) */
border: 5px solid black;

/* for border radius style  */
/* the pixels value is used to make the corners of the border rounded. The higher the value, the more rounded the corners will be.  */
border-radius: 20px;

margin-bottom: 25px;

}

h1{
    /* This is another way but long way to write border properties. We can also use Shorthand method to write border properties in one line instead of writing three lines for each property. */
    /* border-color: purple;
    border-width: 2px;
    border-style: dashed; */

    /* We use Shorthand method (width style color)  */
    border:2px dashed purple;
}

div{
    padding-top: 10px;;
}

button{
    border:2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;

    /* another way to write padding is using Shorthand method (top right bottom left)   */
    /* padding: top|right|bottom|left; in clockwise direction */
    /* padding :0 25px 0 25px; */
}

