/* Heading styles using RGB color */
h1 {
    color: rgb(55, 0, 255);        /* Red color */
    background-color: white;
    text-align: center;
    text-decoration: red underline;
    font-style: italic;
}

/* Sub-heading styles */
h2 {
    color: rgb(0, 81, 255);
    font-weight: normal;
    text-decoration: wavy red underline;
    letter-spacing: 3px;
}

/* Paragraph styles */
p {
    color: black;
    background-color: grey;
    line-height: 2.5 ;
    font-size: 20px;
}

/* Button styles using Hex color */
button {
    color: green;
    background-color: #ffa511;   /* Hex color code */
}
