*{
   font-family: "Courier New"; 
   /* for all use *  */
}
h1{
    color:#b92b27;
}
h3{
    color:purple;
}

#Login{
    background-color: white;
}
#signup{
    background-color:#b92b27 ;
    color:white;
}
.upvote{
    background-color:green;
    color:aliceblue;
}

/* descendant selector */
p a {
    color:purple;
    background-color: yellow;
}
nav  a{
    color:hotpink;
}
p+h3{
    text-decoration: underline;
}
.upvote +button{
    background-color:cornflowerblue ;
}
div> input{
    background-color: lightgray;
}

input[type="text"]{
    color:red;
}

input[type="password"]{
    color:green;
}
input[type]{
background-color: white;
}