*{
   font-family: "Courier New"; 
   /* for all use *  */
}
h1{
    color:#b92b27;
}
h3{
    color:purple;
}

#Login{
    background-color: white;
}
#signup{
    background-color:#b92b27 ;
    color:white;
}
.upvote{
    background-color:green;
    color:aliceblue;
}