 h1{
         /* RGB (Red,Green,Blue) */
            color:rgb(255,0,0);
            background-color:black;
        }

h2{
    color:orange;
}
    p{ 
        color:white;
        background-color: black;
    }

    button{
        color:white;
        background-color: blue;
    }