 h1{
         /* RGB (Red,Green,Blue) we can use color pickers*/
            color:rgb(255,0,0);
            background-color:black;
        }

h2{
    color:orange;
}
    p{ 
        color:white;
        background-color: red;
    }

    button{
        color:white;
        background-color: blue;
    }
    /* Hexadecimal color code */
    /* #ffa511 where ff is red, a5 is green and 11 is blue */