/* Heading styles using RGB color */
h1 {
    color: rgb(55, 0, 255);        /* Red color */
    background-color: white;
    text-align: center;
}

/* Sub-heading styles */
h2 {
    color: orange;
}

/* Paragraph styles */
p {
    color: black;
    background-color: grey;
}

/* Button styles using Hex color */
button {
    color: green;
    background-color: #ffa511;   /* Hex color code */
}
